/* =======================================================================================================
   Help.css
   ======================================================================================================= 
*/

body,
pre,
p {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

pre {
	font-size:smaller;
}

body {
	color: #000000;
	background-color: #FFFFF1;
	margin-left: 1.25em;
	margin-right: 1em;
}

ol {
	margin-right: 2.5em;
}

a {
	text-decoration: none;
}

img {
	text-align: left;
	margin-right: 1.3em;
	max-width: 630px;
	position: relative;
}

.centered {
	color: red;
	font-weight: 750;
}

/* Centered text */
.centeredx {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	float: left;
}

/* Table of Contents */
td>ol {
	margin-top: .3rem;
	margin-bottom: .56rem;
	padding-left: 1.9rem;
}

.li1 {
	margin-top: 1.9rem;
}

.li2 {
	margin-top: 1.9em;
}

li.li1>a {
	font-size: .75rem;
}

li.li1>a:link {
	color: blue;
}

li.li1>a:visited {
	color: blue;
}

li.li1>a:hover {
	color: green;
}

li.li2>a {
	font-size: .9rem;
}

li.li2>a:link {
	color: green;
}

li.li2>a:visited {
	color: green;
}

li.li2>a:hover {
	color: blue;
}

.title {
	font-size: 1rem;
	font-weight: 700;
	width: 95%;
	padding: .63rem .63rem .31rem .63rem;
	white-space: nowrap;
}

.hh{
	font-weight: 700;
	color:blue;
}

#help_toc_table {
	border: #707070 .06rem solid;
	padding: 0;
	margin-top: 4rem;
	margin-bottom: 0;
	-moz-min-width: 95%;
	-ms-min-width: 95%;
	-o-min-width: 95%;
	-webkit-min-width: 95%;
	min-width: 95%;
}

#help_toc_caption {
	text-align: left;
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: .3rem;
}

#help_Toolbar {
	width: 100%;
	padding: 0 .63rem 0 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #ffb91d;
	border: thin solid #666666;
	margin-bottom: 1.3rem;
}

#help_Frame {
	max-width: 800px;
	position: relative;
	top: .63rem;
}

#help_btnScrollToTop {
	width: 6rem;
	font-size: .75rem;
	margin: .13rem .63rem 0 0;
}

/* Page Data */
.td1 {
	width: 50%;
	border: #707070 .13rem solid;
	padding: .5rem 0 .5rem .75rem;
	vertical-align: top;
}

.sp1 {
	font-weight: bold;
	font-size: .75rem;
}

.sp2 {
	font-family: "Courier New", "Lucida Console";
	font-size: .6rem;
	vertical-align: 10%;
}

.t1 {
	margin-top: .3rem;
	margin-bottom: .6rem;
}

.t2 {
	margin-top: .6rem;
	margin-bottom: .6rem;
}

/* Close Button */
.close {
	color: black;
	cursor: pointer;
	font-size: .75rem;
	margin: .13rem .25rem .13rem 0;
}

.close:hover {
	color: green;
}

.close_x {
	color: black;
	cursor: pointer;
	font-size: .88rem;
	font-family: Aharoni;
	background-color: #CCCCCC;
	color: #FF0000;
	width: .88rem;
	line-height: initial;
	outline: .06rem solid #999999;
	vertical-align: middle;
	padding: .13rem .13rem 0 .06rem;
}

.close_x:hover {
	background-color: #666666;
}

#hb-gotop{
	-moz-border-radius: .32rem;
	-webkit-border-radius: .32rem;
	border-radius: .32rem;
	width:.625rem;
	background-color: #EEEEEE;
	background-color: rgba(238, 238, 238, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99EEEEEE',EndColorStr='#99EEEEEE');
	text-align:center;
	padding:.32rem;
	position:fixed;
	bottom:.63rem;
	right:.63rem;
	cursor:pointer;
	color:#444;
	text-decoration:none;
	border:1px solid #C9C9C9;
	font-size:.56rem;
} 
/* Printing */
@media print {
	.buttonClass {
		display: none;
	}
}